/*
Responsive CSS
Tablet and Mobile
*/  


    
@media only screen and (max-width: 1800px){ 
     .di_fon_nav_active:before {width: 15%;} 
}

@media only screen and (max-width: 1300px){ 
    .navigation {display: none!important;}
    .owl-carousel .owl-nav {display: none!important;}
    .owl-carousel .owl-nav.disabled { display: none!important;}
    .owl-stage{padding-left:0px !important;}
 
}


@media only screen and (max-width: 1200px){ 
    .home_block {padding-bottom: 60px;}
    .header_search {margin-right: 20px;flex-basis: 31%;}
    .header_menu2 {margin-right: 20px;}
    
}
    
    
@media only screen and (max-width: 1024px){ 
    .home_block {padding-bottom: 60px;}
    .owl-carousel {/* padding: 0 30px; */}
    .home main {padding-top: 0;}
    header {padding: 10px 0;} 
    .top_curs .col_3_di {width: 50%;margin-bottom: 20px;}
    .home_blog .col_4_di {width: 50%;}
    .home_blog_item {}
    .home_blog_item_img {/* text-align: center; */}
    .footer_logo {width: 19%;}
    footer .col_1_60_di {width: 58%;}
    .footer_soc {width: 23%;}
    .footer_top nav { width: 100%;}
    .footer_r {padding-left: 20px; width: 50%;}
    .footer_l { width: 50%;}
    .sidebar {padding-right: 0;}
    .contact_block .col_1_40_di {width: 100%; margin-bottom: 30px;}
    .contact_block .col_1_60_di {width: 100%;}
    .contact_phone {padding-left: 0;}
    .home .review_r {float: left;display: inline-block;width: 165px;}
    .review_name {margin-bottom: 2px;}
    .review_l {margin-right: 10px;line-height: 50px;width: 50px;height: 50px;}
    .main_reviews .review_l {margin-right: 10px;line-height: 50px;width: 50px;height: 50px;}
    .cat_coment  {display: none;}
    .cat_item_l {margin-right: 10px;width: 192px;}
    .cat_item_r {margin-left: 10px;}
    .blog_post .container_di_860 {margin: 0px auto 0 auto;}
    .curs_page .nazad {margin-bottom: 0;}
  
}
    

@media only screen and (max-width: 879px){ 
   
    h1 {font-size: 18px;} 
    .block_title h1 {font-size: 30px;}
    header {position: relative;padding: 7px 0;/* filter: drop-shadow(0px 4px 6px rgba(73, 103, 208, 0.1)); */box-shadow: none;}
    body .xs_vizible { display: block;} 
    body .pk_vizible {display: none;}
    header .header_top {justify-content: space-between;}
    .logo {margin-right: auto;}
    .catalog_btn {margin-right: 10px;}
    .logo span {display: block;font-weight: 700;font-size: 18px;color: #212529;}
    .logo svg {display: none;}
    
    .header_search .submit {display: flex;border-radius: 3px;/* flex-basis: auto; */}
    .active .submit {  border-radius: 0 5px 5px 0;}
    .active .click_open {display: none;}
    .active .search_input { }
    .header_search {margin-right: 10px;flex-basis: auto;z-index: 1;margin-left: 0;}
    .header_nav .login {display: block;}
    .main_header {padding-top: 60px;}    
    .header_search .active {width: 100%; opacity:1;padding: 10px 20px;  transition: all 0.6s ease; }
    .header_search .active .mobile_search {display: block;position: absolute;right: 0;top: -6px;width: 100%;padding: 6px 65px 6px 15px;background: white;margin-right: 0;}
    .header_search .searchform {display: none;}
    .header_menu2 {margin-right: 0;z-index: 2;}
    .header_search .active .mobile_search form {display: flex;}

    /* mobile_menu_btn */
    .mobile_menu_btn {background: white;border: 2px solid #4967D0;width: 40px;border-radius: 3px;height: 40px;flex-direction: row;align-items: center;display: flex;justify-content: center;} 
    #nav-icon4 {width: 15px;height: 10px;position: relative; -webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);-webkit-transition: .5s ease-in-out;-moz-transition: .5s ease-in-out;-o-transition: .5s ease-in-out;transition: .5s ease-in-out;cursor: pointer;}
    #nav-icon4 span {display: block;position: absolute;height: 2px;width: 100%;background: #4967D0;border-radius: 9px;opacity: 1;left: 0;-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-o-transition: .25s ease-in-out;transition: .25s ease-in-out;}
    #nav-icon4 span:nth-child(1) {top: 0px;-webkit-transform-origin: left center;-moz-transform-origin: left center;-o-transform-origin: left center;transform-origin: left center;}
    #nav-icon4 span:nth-child(2) {top: 4px;-webkit-transform-origin: left center;-moz-transform-origin: left center;-o-transform-origin: left center;transform-origin: left center;}
    #nav-icon4 span:nth-child(3) {top: 8px;-webkit-transform-origin: left center;-moz-transform-origin: left center;-o-transform-origin: left center;transform-origin: left center;}
    .open #nav-icon4 span:nth-child(1) {-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);top: -1px;left: 2px;}
    .open #nav-icon4 span:nth-child(2) {width: 0%;opacity: 0;}
    .open #nav-icon4 span:nth-child(3) {-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);top: 10px;left: 2px;}
    .header_menu_btn {display: block;} 
    .header_menu2 ul li {text-align: left;} 
    .header_menu2_close, footer .header_menu_btn {display: block;} 
    .header_menu2_close {position: absolute;right: 32px;top: 27px;font-size: 22px;z-index: 9999;} 
    .header_nav {display: none;position: absolute;left: 0;top: 100%;width: 100%;padding: 20px;background: white;margin-right: 0;}
    .header_menu2 ul li {display: block;margin: 0px 0 10px 0;}
    .header_menu2 ul li a {display: block;font-weight: 500; font-size: 16px; color: #4967D0;}
    .header_nav .login .btn_white {justify-content: center;margin-top: 20px;}
    /* mobile_menu_btn */
     
    .col_1_di, .col_2_di, .col_3_di, .col_4_di, .col_5_di, .col_6_di,.col_1_60_di, .col_1_40_di  {width: 50%; padding: 0px 15px;}
    .row_15_di {margin: 0;}
    .row_10_di {margin: 0;}
    .row_5_di {margin: 0;} 
    .footer_niz ul {display: block;}
    .footer_niz ul li:first-child {display: block!important; padding: 0; margin: 0; text-align: center;}
    .footer_niz ul li {display: none;}
    .footer_logo {width: 100%;} 
    footer .col_1_60_di {width: 100%;}
    .footer_soc {width: 100%;margin-top: 10PX;}
    .footer_top nav { width: 100%;}
    .footer_r {padding-left: 20px; width: 50%;}
    .footer_l { width: 50%;padding-left: 0;}
    footer .soc { justify-content: start; }
    .f_logo {margin-bottom: 20px;}
    #main_searchform {  flex-basis: 100%; }
    .home_block {padding-bottom: 40px;}
    .block_title h2 { font-size: 18px;}.h_desc {margin-bottom: 20px;}
    .top_curs_item_title a {  font-size: 16px; line-height: 1.3; }
    .top_curs .col_3_di {width: 100%;}
    .block_title {padding: 0 30px;}
    
    .sidebar {display: none;width: 100%;position: fixed;left: 0;padding: 20px;background: white;z-index: 9999;top: 0;/* overflow-x: visible; *//* height: auto; */max-height: 100%;/* overflow-x: auto; */overflow-x: hidden;}
    .catalog_content {width: 100%;padding: 0!important;margin-top: 12px;}
    .cat_item_vn .row {flex-direction: column;}
    .cat_item_l {margin: 0; width: 100%;}
    .cat_item_r {margin: 0; width: 100%; border: none; padding: 0; margin: 0;}
    body .xs_vizible_flex {display: flex;} 
    body .pk_vizible_flex {display: none ;}
    .cat_coment {display: flex;}
    .cat_item_data {display: none;}
    .cat_item_r_a a{width: 48%;}
    .cat_item_r_a {display: flex;width: 100%;justify-content: space-between;}
    .cat_item_title {margin: 10px 0;}
    .cat_desk {margin-top: 0;margin-bottom: 10px;}
    .cat_brand {margin-top: 10px;border-top: 2px solid #EDF0FA;}
    .cat_item_r {margin-top: 10px;padding-top: 10px;border-top: 2px solid #EDF0FA;}
    .cat_info {margin-top: 0;justify-content: space-between;}
    .cat_item .rating span {margin: 0;}
    .cat_item .cat_coment {margin-left: 0px;}
    .cat_item .rating {width: inherit;}
    .review_rating  {justify-content: space-between;}
    .cat_item_r a {margin: 0!important;padding: 8px 10px 10px;}
    
    main {padding-top: 0;}
    .carousel_v2 .owl_navigation {display: none!important;}

    .carousel_item {flex-direction: column;align-items: start;}
    .carousel_item .review_rating {flex-direction: row; }
    .carousel_item .rating { width: 160px; }
    
    .di_review {margin-top: 30px;}
    .b-courses__rating-page {flex-direction: column;align-items: start;}
    .b-courses__rating {padding-left: 0;}
    .cat_text {    padding: 30px 0 0 0px;}
    .mobile_short {}
    .popular ,.di_review h3, .rating_schol h3 {padding-left: 0;}
    .rating_schol {margin-top: 30px;}
    .list_list ul {    grid-template-columns: repeat(2,1fr);}
    .sidebar {padding: 30px!important;}
    .header_menu2_close {display: flex;align-items: center;font-weight: 500;font-size: 16px;/* margin-right: auto; */}
    .header_menu2_close svg {margin-left: 10px;}
    .filter_option .f_chip {display: flex;}
    .sidebar_btn, .header_menu2_close {display: inline-flex;float: right;}
    .blog_cat .page_title h1 {padding-left: 10px;}
    .contact_block .col_1_40_di {width: 100%;padding: 0;}
    .contact_block .col_1_60_di {width: 100%;padding: 0;}
    .contact_block .col_2_di {width: 100%;padding: 0;}
    .contact_soc {justify-content: start; margin-top: 20px;}
    .contact_block { margin-bottom: 15px;}
    .page_header .page_title h1 {font-size: 18px;margin-bottom: 20px;}
    .simple_page .page_header {padding: 20px 0 0 0;}
    .contact {padding: 0;}
    .page_header {padding: 15px 0 15px 0;}
    .carousel_item_title {white-space: normal;}
    .mobile_short {display: inline-flex!important;}
    .mobile_short  .block_button {display: flex;align-items: center;font-weight: 500;font-size: 16px;}
    .mobile_short  .block_button svg {margin-left: 10px;}
    .mobile_short {position: relative;} 
    .mobile_short  .big {display: none;width: 186px;position: absolute;left: 0;top: 21px;}
    .mobile_short .big a { display: block; margin-bottom: 10px; color: #B8B9BA;  font-size: 16px;}
    .mobile_short .big a:last-child {margin-bottom: 0;}
    .mobile_header {  justify-content: space-between;}
    .carousel_item_title { white-space: normal!important;}
    .blog_post_content {font-size: 14px;}
    .blog_post h4, .blog_post h5 {font-size: 16px;}
    .coments_list .coment_item_cintent, .coment_niz{padding-left: 0;font-size: 16px;}
    .container_di_640 {padding: 0;}
    .article_coment .article_block_title {font-size: 18px;}
    article h2, article h3, article h4, article h5, article h6 {font-size: 18px;}
    .blog_post .container_di_860 {padding: 0;}
    .blog_post .page_header {padding: 20px 0 15px 0;}
    
    
    .mobile_sidebar {width: 100%;margin-bottom: 30px;    padding: 0px 15px}
    .mobile_sidebar h1 {margin-top: 20px;}
    .mobile_sidebar .rating {width: 150px;} 
    .mobile_sidebar .curs_page_sidebar_soc .white_block_title {display: none;}
    
    .mobile_sidebar .curs_page_sidebar_soc .white_block {display: flex;flex-direction: row;align-items: center;justify-content: space-between;}
    .mobile_sidebar .curs_page_sidebar_soc .brand_link {margin-top: 0;margin-left: 10px;flex-basis: 100%;}
    
    .info_block { margin-bottom: 30px; grid-template-columns: repeat(2,1fr);}
    .curs_page .price {font-size: 30px;margin-bottom: 25px;}
    .price_tetle {font-size: 16px;}
    .curs_page h4 {font-size: 18px;}
    .short-text {font-size: 14px;}
    .curs_page_content {width: 100%;}
    .review_r {width: auto;}
    .review_r .review_rating {flex-wrap: wrap;gap: 5px;}
    
    .moretext .review_title {display: flex;flex-direction: row;  }
    
    .short-text {height: 145px;}
    .chto ol {grid-template-rows: repeat(3, 1fr);grid-auto-flow: row;grid-template-columns: 1fr;}
    
    
    
 
 }
 
 
    @media only screen and (max-width: 568px){
        .test:after  { content: '@media (max-width: 568px)';} 
        .col_1_di, .col_2_di, .col_3_di, .col_4_di, .col_5_di, .col_6_di,.col_1_60_di, .col_1_40_di  {float: none; width: 100%; padding: 0px 15px;}
        .top_curs_item_title a {font-size: 16px;}
        .footer_r {width: 100%;padding-left: 0;margin-top: 20px;}
        .list_list ul {    grid-template-columns: repeat(1,1fr);}
        .footer_l { width: 100%;}
        footer .soc { justify-content: start; }
        .footer_top {padding: 20px 0 20px 0;}
        .main_search {margin-top: 10px;}
        .home_blog .col_4_di { width: 100%; }
        .top_curs .col_3_di { width: 100%; }
        .main_stata .col_4_di {width: 50%;float: left; padding-bottom: 20px;}
        .home_blog_item {height: inherit;}
        .home_blog_niz {margin-top: 10px;}
        .rating {width: 131px;}
        .main_rating .col_5_di   {width: 50%;float: left;  }
        .main_rating .col_5_di a {padding: 15px;}
        .home_more {margin-top: 20px;}
        .contact_block .col_2_di {flex-direction: column;}
        .contact .mail {padding-left: 0; padding-top: 20px;}
        .soc {justify-content: start;}
        article table {overflow-x: auto;  display: block;}
}
    

    
    @media only screen  and (max-width: 320px) {
        .test:after  { content: '@media (max-width: 320px)';}
        .radio-toolbar label {width: 100%;}
    }
        
    